<style>

.chapter-list .lesson-logo {
	height: 50px;
}

.chapter-list .title {
	display: block;
	margin: 20px 0px;
}

.chapter-list h1 {
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
}

.chapter-list ul {
	display: inline-block;
	text-align: left;
}
</style>

<div class="container-fluid chapter-list">
	<div ng-hide="pageNotFound">
		<div class="title">
			<img ng-src="{{'img/' + lesson_desc.img}}" class="lesson-logo" alt="{{lesson.title}}" />
			<h1>{{lesson_desc.title}}</h1>
		</div>
		<div class="text-center">
			<ul>
				<li class="lesson-title" ng-repeat="chapter in lesson_desc.content">
					<a ng-href="{{url('/cours/' + lesson_desc.path + '/' + chapter.path)}}">
						<h2>{{chapter.title}}</h2>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div ng-show="pageNotFound">
		<div class="title">
			<h1>La page demandée n'existe pas</h1>
		</div>
	</div>
</div>