<style>
.cover {
	padding: 120px 0px ;
	margin: 0px;

	text-align: center;
}

.cover h1 {
	margin: 30px;
}

.cover p {
	width: 70%;
	margin: 30px auto;
	font-size: 2em;
}

.cover a {
	font-size: 1.5em;
	line-height: 2em;
	padding-right: 30px;
	padding-left: 30px;
}

@media (max-width: 768px) {
	.cover {
		padding: 40px 0px ;
		margin: 0px;

		text-align: center;
	}

	.cover h1 {
		margin-bottom: 10px;
	}

	.cover p {
		width: 90%;
		font-size: 1.2em;
		margin-top: 10px;
	}
}

</style>

<div class="jumbotron cover">
	<h1>Des supers cours ...</h1>
	<p>
		... pour les stagiaires d'Orsys qui suivent le cours sur AngularJS.
	</p>
	<a class="btn btn-success" href="#/cours">Voir les cours</a>
</div>

<div id="licence">
	<h1>Sous licence MIT</h1>
</div>