<div class="btn-toolbar hidden-xs">

		<a href="{{url(chapter_previous)}}" class="btn btn-primary" ng-class="{disabled: !chapter_previous}">
			<span class="glyphicon glyphicon-step-backward"></span>
			Précédent
		</a>
<!--
		<a ng-href="{{url()}}" class="btn btn-info" target="_blank">
			<span class="glyphicon glyphicon-play"></span>
			Démonstration
		</a>

		<a ng-href="{{url()}}" class="btn btn-info" target="_blank">
			<span class="glyphicon glyphicon-search"></span>
			Code Diff
		</a>
-->
		<a ng-href="{{url(chapter_next)}}" class="btn btn-primary" ng-class="{disabled: !chapter_next}">
			Suivant
			<span class="glyphicon glyphicon-step-forward"></span>
		</a>

</div>

<div class="btn-toolbar visible-xs">

		<a href="{{url(chapter_previous)}}" class="btn btn-primary" ng-class="{disabled: !chapter_previous}">
			<span class="glyphicon glyphicon-step-backward"></span>
			Précédent
		</a>

		<a href="{{url(chapter_next)}}" class="btn btn-primary pull-right" ng-class="{disabled: !chapter_next}">
			Suivant
			<span class="glyphicon glyphicon-step-forward"></span>
		</a>

</div>
<!--
<div class="button-vert-spacer visible-xs"></div>
<div class="btn-toolbar visible-xs text-center">

		<a ng-href="{{url()}}" class="btn btn-info btn-xs" target="_blank">
			<span class="glyphicon glyphicon-play"></span>
			Démo
		</a>

		<a ng-href="{{url()}}" class="btn btn-info btn-xs" target="_blank">
			<span class="glyphicon glyphicon-search"></span>
			Code Diff
		</a>

</div>
-->