<div class="my-content">

	<my-button-nav></my-button-nav>

	<div class="my-content-body">
		<md-include src="chapterPath" autoscroll="goToAnchor()" parser="markdownParser"
			script="bower_components/google-code-prettify/bin/run_prettify.min.js?"></md-include>
		<!--<my-include src="chapterPath"></my-include>-->

	</div>

	<my-button-nav></my-button-nav>

	<comments ng-show="config.showComment"></comments>

</div>
<script>
	var markdownConverter = new Showdown.converter({
		extensions: [
			function(converter) {
				return [
					{
						type: 'html',
						regex: '<jboss>',
						replace: '<div class="jboss"><b>Pour JBoss WildFly :</b>'
					},
					{
						type: 'html',
						regex: '</jboss>',
						replace: '</div>'
					}
				];
			}
		]
	});
	function markdownParser(str) {
		var html = markdownConverter.makeHtml(str);
		html = manageUrl(html);

		var div = $('<div/>').html(html);
		div.find('pre').each(function(i, block) {
			var lang = $(this).find('code').attr('class');
			if (!lang) {
				return;
			}
			$(this).addClass('prettyprint lang-' + lang);
		});
		return div.html();
	}

	function manageUrl(str) {
		var result = str.replace(/href="#(.*?)"/g, 'href="javascript:void(0)" ng-click="goToAnchor(\'$1\')"');
		//var result = str.replace(/href="#(.*?)"/g, 'href="{{url(location.path() + \'#$1\')}}"');
		return result;
	}

	$(document).ready(function() {
		window.prettyPrint && prettyPrint();
	});
</script>
