<div class="my-sidebar hidden-xs">
	<h1>
		<a ng-href="{{url('/' + lesson_list.path + '/' + lesson_desc.path)}}" ng-click="scrollTop()">
			{{lesson_desc.title}}
		</a>
	</h1>
	<ul>
		<li ng-repeat="chapter in lesson_desc.content">
			<a ng-href="{{url('/' + lesson_list.path + '/' + lesson_desc.path + '/' + chapter.path)}}"
				ng-click="scrollTop()">
				<b ng-show="currentChapter.path == chapter.path">{{chapter.title}}</b>
				<span ng-show="currentChapter.path != chapter.path">{{chapter.title}}</span>
			</a>
		</li>
	</ul>
</div>