RewriteEngine on

# on prod, change:
#	'/cours_angular/app/' to '/orsys/FAN/cours_angular/'

# SEO RULES

RewriteCond %{QUERY_STRING} ^_escaped_fragment_=
RewriteCond %{REQUEST_URI}  ^/cours_angular/app/$
RewriteRule !^seo_snapshots/.*$ seo_snapshots/index.html [NC,L]

RewriteCond %{QUERY_STRING} ^_escaped_fragment_=
RewriteCond %{REQUEST_URI}  ^/cours_angular/app/?(.*)/$
RewriteRule !^seo_snapshots/.*$ seo_snapshots/%1.html [NC,L]

RewriteCond %{QUERY_STRING} ^_escaped_fragment_=
RewriteCond %{REQUEST_URI}  ^/cours_angular/app/?(.*)$
RewriteRule !^seo_snapshots/.*$ seo_snapshots/%1.html [NC,L]

# END SEO RULES

RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(cours|sitemap)/?.*$ index.html [L]
